section{
    padding: 50px 10%;
    position: relative;
}
.post{
    border-radius: 10px;
    padding: 20px 30px;
    background-color: #F2F4F4;
    margin-bottom: 50px;
    position: relative;
}
.post-user{
    font-size: medium;
}
.post-content{
    margin-top: 20px;
}
#post-inp{
    background-color: #FCF3CF ;
}

#post-btn{
    position: absolute;
    right: 12%;
    top: 70px;
}
[contenteditable]{
    outline: none;
}

.vote-container{
    position: absolute;
    right: 20px;
}
.vote-count{
    text-align: center;
    margin: 0px;
}
.upvote-icon, .downvote-icon{
    cursor: pointer;
}